.panel-heading {
  background-color: #5089AC !important;
  color: white !important;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.panel-body {
  background-color: #BDDCE9 !important;
  color: #4C585D !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.index-image {
  width: 100%;
  height: auto;
}

.texto-titulo {
  text-align: center !important;
  font-size: 20px;
  font-weight: 350;
}

.texto-desc {
  text-align: center !important;
  font-weight: 300;
}

.panel-default {
  border-radius: 10px;
}

.texto-rojo {
  color: red;
  text-align: center;
}

.texto-naranja {
  color: #FF7514;
  text-align: center;
}

.texto-verde {
  color: green;
  text-align: center;
}

/*********************Para el boton de info y reservas**********************/
.btn_travels {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 6px 0px 6px 0px;
  margin-left: 90px;
  margin-right: 90px;
  text-decoration: none;
}

.btn_travels:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  color: #505050;
  text-decoration: none;
}
/*********************Fin del boton de info y reservas**********************/

/**************************************************/
/* Bootstrap CSS                                  */
/**************************************************/

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .btn_travels {
    font-size: 70%;
  }
}
